.toolbar-row-top{
  padding: 0 10em;
}

.toolbar-row-bot{
  background-color: #283593;
  height: 65px;
}


.button-row-top{
  background-color: rgb(251 146 60);
}

.button-search{
  background-color: unset;
  color: black;
}

p{
  margin: 0;
}

::ng-deep .mat-badge-content {
  background: rgb(251 146 60) !important;
  color: white !important
}

.button-login{
  justify-content: flex-start;
  padding-left: 1em;
  font-size: 1.2em;
  height: 3em;
  font-weight: 350;
}

::ng-deep.mat-mdc-form-field-subscript-wrapper{
  display: none;
}
